html {
  box-sizing: border-box;
  }

*, *::before, *::after {
  box-sizing: inherit;
  }

path { fill:inherit; stroke:inherit; }

body {
  margin: 0;

  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

a { /*Можно ли оставить такое свойство для всех ссылок или лучше для каждого класса отдельно прописать?*/
  text-decoration: none;
}

.user-navigation,
.site-navigation,
.transport-companies,
.store-navigation,
.footer-social,
.breadcrumb,
.sorting,
.filters-company,
.filters-type-power,
.stock,
.site-navigation-footer {
  list-style: none;
}

.main-header {
background-color: #f4f7f9;
}

.top-header {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

  background-color: #293449
}

.top-header a {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

  background-color: #293449
}

.top-header-wrapper{
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.top-header .top-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header .main-header-logo {
  width: 220px;
  height: 42px;
  margin-right: 17px;
  padding-top: 13px;
  padding-left: 48px;

  fill: #ffffff;
  box-shadow: 0px 5px #b52933;
  background-color: #ee3643
}

.top-header .bookmarks {
  width: 150px;

}

.top-header .cart {
  width: 150px;
}


.top-header .order {
  width: 150px;
  min-height: 42px;
  margin-right: 10px;
  padding-top: 12px;
  text-align: center;

  background-color: #63a63e;
}

.top-header .order:hover,
.top-header .order:focus {
  background-color: #5fbb2d;
}

.top-header .order:active {
  background-color: #518534;
}

.search {
  flex-grow: 1;
  min-height: 42px;
  margin-right: 44px;
  border: 0px;
  background-color: transparent;
}

.search:focus {
  background-color: #ffffff;
}

.search::-webkit-input-placeholder {
  color:#ffffff;
}
.search::-moz-placeholder { /* Firefox 19+ */
  color:#ffffff;
}
.search:-moz-placeholder { /* Firefox 18- */
  color:#ffffff;
}
.search:-ms-input-placeholder {
  color:#ffffff;
}

.search::-webkit-input-placeholder {
  opacity: 1; transition: opacity 0.3s ease;
}
.search::-moz-placeholder {
  opacity: 1; transition: opacity 0.3s ease;
}
.search:-moz-placeholder {
  opacity: 1; transition: opacity 0.3s ease;
}
.search:-ms-input-placeholder {
  opacity: 1; transition: opacity 0.3s ease;
}
.search:focus::-webkit-input-placeholder {
  opacity: 0; transition: opacity 0.3s ease;
}
.search:focus::-moz-placeholder {
  opacity: 0; transition: opacity 0.3s ease;
}
.search:focus:-moz-placeholder {
  opacity: 0; transition: opacity 0.3s ease;
}
.search:focus:-ms-input-placeholder {
  opacity: 0; transition: opacity 0.3s ease;
}

.top-header a:active {
  color: rgb(255, 255, 255, 0.6);
}

.center-header-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.center-header .center-header-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 44px;
}

.center-header h1 {
 margin-left: 52px;
 margin-right: 66px;
 width: 280px;
}

.center-header .contacts-mini {
  width: 280px;
  align-self: center;
  text-align: center;
}

.center-header-wrapper .user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 45px;
  width: 280px;
}

/*Добавил flex-wrap который нужен для каталога, но при этом изменилось положение кнопок на главной. нужно отдельный класс писать? потому что изменение размеров не помогли*/
.user-navigation .login-link {
  padding: 14px 27px;

}

.user-navigation .registration-link {
  padding: 14px 27px;
  margin-left: 10px;
}

h1 {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
  text-transform: none;
}

.contacts-mini address {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
  text-transform: none;

  background-color: #f4f7f9;
}

.contacts-mini a {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #ee3643;
  text-transform: none;

  background-color: #f4f7f9;
  border: 3px solid #ffffff;
}


.login-link,
.registration-link {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  text-decoration: none;

  background-color: #ffffff;
}

a.login-link:hover,
a.registration-link:hover,
a.my-orders:hover,
a.profile:hover,
a.login-link:focus,
a.registration-link:focus,
a.my-orders:focus,
a.profile:focus {
  color: #ee3643;
}

a.login-link:active,
a.registration-link:active,
a.user-link:active {
  color: rgb(0, 0, 0, 0.3);
}

a.my-orders:active,
a.profile:active {
  color: rgb(50, 66, 92, 0.3);
}

.site-navigation {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation .site-navigation {
  display: flex;
  margin-top: 45px;
}

.button-main {
  padding: 20px 32px;
  font-family: "Cuprum", "Verdana", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

  background-color: #32425c;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgb(255, 255, 255, 0.5)
}

.container-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.container .container-wrapper {
  display: flex;
  justify-content: flex-start;

  padding-top: 82px;
}

.company-promo{
width: 525px;
}

.contacts {
width: 375px;
padding-left: 120px;
}

.container h2 {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.transport-companies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;

  font-family: "Cuprum", "Verdana", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

.button {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

a.button:hover,
a.button:focus,
.feedback-button:hover,
.feedback-button:focus,
a.order:hover,
a.order:focus {
  background-color: #ca2c37;
}

a.button:active,
.feedback-button:active,
a.order:active {
  background-color: #ba2732;
}

.top-footer-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.top-footer .top-footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 145px;
}

.top-footer {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

  background-color: #32425c;
}

.top-footer .main-footer-logo {
  width: 220px;
  height: 63px;
  padding-top: 19px;
  padding-left: 48px;

  fill: #ffffff;
  box-shadow: 0px 5px #b52933;
  background-color: #ee3643
}

.top-footer .footer-contacts {
  order: 2;
}

.site-navigation-footer {
  width: 550px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-navigation {
  padding: 20px;
}

.footer-navigation .site-navigation-footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.footer-navigation .store-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.top-footer address {
  font-style: normal;
}

.top-footer a {
  color: #ffffff;

  background-color: #32425c;
}

.store-navigation .button-main{
  color: #ffd180;

  background-color: #32425c;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration-line: underline;
}

.footer-navigation a:active {
  text-decoration-line: none;
  opacity: 0.5;
}

.bottom-footer-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.bottom-footer .bottom-footer-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-copyright {
  width: 232px;
}

.footer-social-wrapper {
  width: 132px;

}

.footer-social .footer-social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  padding-right: 118px;
}

.bottom-footer {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

  background-color: #293449;
}

.bottom-footer a {
  text-transform: none;
  color: #ffd180;

  background-color: #293449;
}

.bottom-footer a:hover,
.bottom-footer a:focus {
  text-decoration-line: underline;
}

.bottom-footer a:active {
  text-decoration-line: none;
  color: #ee3643;
}

.footer-social a:hover,
.footer-social a:focus {
  text-decoration-line: none;
  color: #ee3643
}

/*Разметка каталога*/

.my-orders,
.profile {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #32425c;
  text-transform: none;
  text-decoration-line: underline;

  background-color: #f2f6f8;
}
.user-navigation .user-link {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

.breadcrumb-wrapper {
  width: 960px;
  margin: 0 auto;
}

.breadcrumb {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding-top: 50px;
}

.breadcrumb a {
  padding-right: 40px;

  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.store-selection h2 {
  padding: 34px 30px;
  width: 960px;
  margin: 0 auto;

  font-family: "Cuprum", "Verdana", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.sort-area,
.sort-area p,
p.name-section {
  background-color: #f7f3ec;
}
/*Не смог разобраться как сделать отступ между фильтрами и заголовком*/
p.name-section {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 220px;
  padding-right: 20px;
}

.sort-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 960px;
  margin: 0 auto;
}

.sort-area {
  margin-top: 0px;
  margin-bottom: 0px;
  order: 2;
  display: flex;
  align-content: center;
  width: 710px;
}

.sorting { /*Каким образом можно сделать отступы между этими элементами? space-between не работает*/
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
}

.name-section,
.sort-type {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.filters-wrapper {
  width: 960px;
  margin: 0 auto;
}

.filters {
  position: absolute;
}

.sort-type {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
  color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover,
.sorting a:focus {
  text-decoration-style: solid;
  color: rgba(0, 0, 0);
}

.sorting a:active {
  text-decoration: none;
  color: #ee3643;
}

.filters h3 {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.filters label {
  font:inherit;
  font-size: 15px;
  line-height: 20px;
}

.product h4 {
  font:inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

del {
  font:inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
}

ins {
  font:inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  background-color: #ee3643;
}

.stock-wrapper {
  width: 900px;
  margin: 0 auto;
}

.stock {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.stock li {
  width: 220px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a.product {
  margin-bottom: auto;
  text-align: center;
}

.buy {
  margin-top: 44px;
  width: 135px;
  height: 38px;

  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #63a63e;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
}

.add-bookmarks {
  margin-top: 12px;
  width: 135px;
  height: 38px;

  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.add-bookmarks:hover,
.add-bookmarks:focus {
  border: 3px solid #32425c;
}

.add-bookmarks:active {
  opacity: 0.3;
}

/*стили для модалок*/

.feedback-form label {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}



.feedback-window::-webkit-input-placeholder {color:#a9a9a9;}
.feedback-window::-moz-placeholder          {color:#a9a9a9;}/* Firefox 19+ */
.feedback-window:-moz-placeholder           {color:#a9a9a9;}/* Firefox 18- */
.feedback-window:-ms-input-placeholder      {color:#a9a9a9;}

.feedback-window::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.feedback-window::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.feedback-window:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.feedback-window:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.feedback-window:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.feedback-window:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.feedback-window:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.feedback-window:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.feedback-window {
  font:inherit;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;

  border: 2px solid #d7dcde;
}

.feedback-window:hover,
.feedback-window:focus {
  border: 2px solid #b5b5b5;
}

.feedback-window:active {
  border: 2px solid #ee3643;
}

.bottom-area {
  background-color: #f4f4f4;
}

.feedback-button {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.added-product p {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.order {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.continue-shopping {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}
